@import "tailwindcss";
@plugin "daisyui";

/* Custom Dark Variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme Customization */
@theme {
  --color-green: #216d20;
  --color-white: white;
}

/* Background with Custom Gradient and Image */
.bg-custom {
  @apply bg-[linear-gradient(rgba(0,128,0,0.6),rgba(0,128,0,0.6)),url('./assets/body.webp')];
}

/* Global Font */
body {
  font-family: "Poppins", sans-serif;
}

/* Active Link Styling */
a.active {
  text-decoration: underline;
}

/* Split Gradient Background */
.bgColor {
  background: linear-gradient(
    180deg,
    white 0,
    white 50%,
    rgba(0, 128, 0, 1) 50%,
    rgba(0, 128, 0, 1) 100%
  );
}
